
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
paper-spinner {
  --paper-spinner-layer-1-color: #FFFFFF;
  --paper-spinner-layer-2-color: #FFFFFF;
  --paper-spinner-layer-3-color: #FFFFFF;
  --paper-spinner-layer-4-color: #FFFFFF;

  height: 20px;
  width: 20px;
  font-size: 12pt;
}

.floox {
  color: #7EC6FF;
  font-family: Calibri, sans-serif;
  font-weight: bolder;
  font-size: 18pt;
  letter-spacing: 2px;
  cursor: pointer;
  --height: 68px;

  display: flex;
  gap: 16px;
  // just a comment
  transition: transform 0.256s;
}

#search {
  --paper-icon-button-ink-color: #FFFD;
  background-color: #FF41A3;
  border-radius: 50%;
  box-shadow: 0 1px 4px 1px #0002;
  padding: 10px;
  margin-left: 4vw;
  transition: transform 0.256s;

  &:hover {
    transform: scale(1.05);
  }
}
#active_clients {
  font-size: 15pt;
  font-weight: bold;
}
#total_profit {
  font-size: 14pt;
  letter-spacing: 2px;
}

.background {
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;

  &:nth-child(2) {
    top: 0;
    min-height: 50vh;
    justify-content: center;
  }
  &:nth-child(3) {
    top: 80vh;
    > img {
    }
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  flex-wrap: wrap;
  gap: 40px;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 360px;
  }

  > div:nth-child(1) {
    text-align: left;
    min-width: 320px;

    > p, > div {
      width: 80%;
    }
    > p:first-child {
      margin-top: 0;
      font-size: 22pt;
      color: #164751;
      line-height: 48px;
      font-weight: bold;

      > strong {
        color: #7EC6FF;
        font-weight: bolder;
      }
    }
    > p:nth-child(2), p:nth-child(3) {
      font-family: "Segoe UI", sans-serif;
      color: #164751;
      font-size: 12pt;
      font-weight: lighter;
      > strong {
        color: #7EC6FF;
        font-weight: bolder;
      }
    }
    > p:nth-child(3) {
      line-height: 28px;
    }
    > div {
      display: flex;
      margin-top: 24px;
      > floox-button {
        --fill: #5187B7;
        --color: white;
        width: 128px;
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-flow: column;
    gap: 24px;
    position: relative;

    .row {
      display: flex;
      justify-content: space-between;
      width: 80%;
      flex-wrap: wrap;
      gap: 24px;
    }
    .row:nth-child(1) { margin-top: 0; margin-bottom: 20px; }
    .row:nth-child(1), .row:nth-child(4) {
      > p {
        font-family: "Segoe UI", sans-serif;
        color: #164751;
        font-weight: lighter;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 12pt;

        > strong {
          color: #7EC6FF;
          font-weight: bolder;
        }
      }
    }

    .grid {
      display: flex;
      gap: 40px;
      width: 80%;
      justify-content: space-evenly;

      > div {
        display: flex;
        flex-flow: column;
        max-width: 200px;
        flex: 1;

        > div:first-child {
          padding: 0 30px;
          height: 64px;
          background-image: linear-gradient(to top right, #5187B7, #A1D7FF);
          border-radius: 8px;
          box-shadow: 0 0 3px 1px #00000011;
          color: white;
          font-size: 13pt;
          font-weight: bold;

          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          cursor: pointer;
          position: relative;
        }
        > div:nth-child(2) {
          display: flex;
          justify-content: center;
          gap: 8px;

          > img { width: 18px; height: 18px; }

          > p {
            font-family: "Segoe UI", sans-serif;
            font-weight: normal;
            margin: 0;
            font-size: 11pt;
            color: #164751;
          }
        }
        > p {
          font-weight: lighter;
          font-family: "Segoe UI", sans-serif;
          font-size: 9pt;
          margin: 12px 0 0;
          color: #164751;
        }
      }
    }
    .grid:nth-child(3) {
      margin-top: 32px;
    }
  }
}
.started {
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-items: center;
  margin-top: 96px;
  width: 90%;

  > .title {
    font-family: Calibri, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    color: #164751;
    margin-bottom: 0;

    > strong {
      color: #7EC6FF;
    }
  }
  > .description {
    font-size: 13pt;
    color: #5187B7;
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    width: 50%;
    text-align: center;
    min-width: 320px;
    line-height: 32px;
  }
  > .emails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;

    > div {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      > img {
        height: 28px;
      }
      > p {
        font-family: Calibri, sans-serif;
        color: #7EC6FF;
        font-weight: lighter;
      }
    }
  }
  > .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 4vw 64px;
    flex-wrap: wrap;

    > div {
      > p {
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        color: #5187B7;
      }
      > div {
        border-radius: 8px;
        box-shadow: 0 0 3px 1px #00000008;
        padding: 24px;
        background: white;
        position: relative;

        > p:first-child {
          color: #164751;
          font-size: 14pt;
          margin-top: 0;
          font-weight: bold;
        }
        > p:nth-child(2) {
          color: #5187B7;
          font-size: 11pt;
          margin-top: 0;
          font-weight: lighter;
          font-family: Calibri, sans-serif;
        }
      }
    }
  }
}
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  width: 80%;
  gap: 8vw;
  flex-wrap: wrap;

  > div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    flex: 1;
  }
  > div:first-child {
    min-width: 320px;
    > div:first-child {
      display: flex;
      justify-content: start;
      align-items: center;

      > div {
        min-width: 0.64px;
        height: 32px;
        margin: 0 16px;
        background: #0002;
      }
      > p:last-child {
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        font-size: 12pt;
        color: #164751;
      }
      > p:first-child {
        font-family: Calibri, sans-serif;
        font-size: 22pt;
        font-weight: bold;
        color: #164751;

        > strong {
          color: #7EC6FF;
        }
      }
    }
    > p:nth-child(2), > p:nth-child(3), > p:nth-child(4) {
      font-size: 12pt;
      color: #26464E;
      font-family: Calibri, sans-serif;
      font-weight: lighter;
      line-height: 32px;

      > strong {
        color: #7EC6FF;
      }
    }
    > form {
      width: 94%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;

      gap: 8px 24px;

      > floox-button {
        --fill: #26464E;
        --color: white;
        min-width: 96px;
        > p {
          margin: 0;
        }
        > paper-spinner {
          --paper-spinner-layer-1-color: white;
          --paper-spinner-layer-2-color: white;
          --paper-spinner-layer-3-color: white;
          --paper-spinner-layer-4-color: white;

          height: 20px;
          width: 20px;
          font-size: 12pt;
        }
      }
      > floox-button:first-child {
        --fill: transparent;
        --color: black;
        font-size: 10pt;
      }
      > floox-input {
        flex: 1;
        --color: #26464E44;
        --radius: 8px;
      }

      > p {
        font-weight: lighter;
      }
    }
    > #message {
      font-weight: lighter;
      font-size: 9pt;
      text-align: center;
      margin-left: 18px;
      color: #800;
    }
  }
  > div:last-child {
    display: flex;
    flex-flow: column;
    gap: 24px;
    min-width: 320px;

    > div:first-child {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 12px;

      > img {
        height: 28px;
      }
      > p {
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        color: #164751;
        font-size: 12pt;
      }
    }
    > div:not(:first-child) {
      display: flex;
      flex-flow: column;
      align-items: start;
      justify-content: center;
      width: 100%;

      > span {
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        color: #164751;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        width: 100%;
        > div {
          display: flex;
          align-items: center;
          gap: 12px;

          > img {
            height: 32px;
            max-width: 32px;
            border-radius: 8px;

            box-shadow: 0 0 4px 1px #0001;
          }
        }
        > p {
           margin: 0;
        }
      }
      > div {
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 3px 1px #00000008;
        width: 100%;
        position: relative;

        > p {
          font-family: Calibri, sans-serif;
          color: #164751;
          font-weight: lighter;
          line-height: 24px;
          margin: 24px;
        }
      }
    }

    > a {
      text-decoration: none;
    }
    > a > floox-button {
      font-family: Calibri, sans-serif;
      font-weight: lighter;
      font-size: 12pt;
      --color: #5187B7;
      --splash: #5187B7;
      --fill: transparent;
    }
  }
}
.footer {
  margin-top: 96px;
  background: #5187B7;
  box-shadow: 0 0 8px 1px #0002;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;

  > div {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1;
    }
  }
  > div:first-child {
    margin: 4% 4% 2%;
    gap: 4vw;
    width: 78%;
    > div {
      min-width: 256px;
    }
  }
  > div:last-child {
    width: 90%;
    margin-bottom: 12px;
  }
  > div:first-child > div:last-child {
    > p {
      color: white;
      font-family: Calibri, sans-serif;
      font-weight: lighter;
      line-height: 28px;
    }
    > p:nth-child(2) {
      font-weight: bold;
      cursor: pointer;
    }
    div {
      display: flex;
      gap: 32px;
      align-items: center;
      flex-wrap: wrap;

      > floox-rating {
        --width: 180px;
      }
      > floox-button {
        --fill: transparent;
        --color: white;
        --splash: #FFFD;
        --border-color: white;
        width: 112px;

        > div {
          display: flex;
          justify-content: center;
          gap: 12px;
          > img {
            width: 16px;
          }
          > p {
            margin: 0;
          }
        }

        > paper-spinner {
          --paper-spinner-layer-1-color: white;
          --paper-spinner-layer-2-color: white;
          --paper-spinner-layer-3-color: white;
          --paper-spinner-layer-4-color: white;

          height: 20px;
          width: 20px;
          font-size: 12pt;
        }
      }

      > floox-button:first-child {
        --fill: transparent;
        --color: white;
        --splash: #FFFD;
        --border-color: white;

        color: white;
        height: 44px;
        width: 256px;

        font-size: 10pt;
        font-weight: bolder;
      }
    }
  }
  > div:first-child > div:first-child {
    display: flex;
    align-items: flex-start;
    flex-flow: column;

    > a {
      text-decoration: none;

      > floox-button {
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        font-size: 11pt;
        cursor: pointer;
        --color: white;
        --fill: transparent;
        --align: start;
        --splash: #FFFD;
      }
    }
    > div {
    }
  }
  > div:last-child > div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > floox-icon {
      --height: 64px;
    }
    > p {
      color: white;
      font-weight: bolder
    }
  }
  > div:last-child > p:last-child {
    display: flex;
    justify-content: flex-end;
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    color: white;
    margin: 0;
    align-items: center;
  }
}

floox-menu {
  @media screen and (max-width: 1080px) {
    & {
      display: none;
    }
  }
  > a {
    text-decoration: none;
    > floox-button {
      --fill: transparent;
      --color: #7EC6FF;
      --splash: #7EC6FF;
      min-width: 96px;
    }
  }
}
floox-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  @media screen and (max-width: 1080px) {
    & {
      width: 84%;
      justify-content: space-between;
    }
  }

  > div {
    > a {
      text-decoration: none;
    }
    > a:nth-child(1) > floox-button {
      --color: #7EC5FF;
      min-width: 88px;
    }
    > a:nth-child(2) > floox-button {
      --fill: #FF41A3;
      --color: white;
      --splash: #FFFF;
    }
  }

  > .floox {
    @media screen and (max-width: 600px) {
      & > p {
        font-size: 16pt;
      }
    }
  }
}
floox-panel {
  > div {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 44px;
    height: 100%;

    > div {
      padding: 32px;

      &:first-child {
        display: flex;
        flex-flow: column;
        gap: 12px;
      }

      > a {
        text-decoration: none;
      }
      > a:nth-child(1) > floox-button {
        --color: #7EC5FF;
        min-width: 88px;
      }
      > a:nth-child(2) > floox-button {
        --color: #7EC5FF;
      }
    }
    > div:last-child {

      > a {
        > floox-button {
          font-family: Calibri, sans-serif;
          font-weight: lighter;
          font-size: 14pt;
          cursor: pointer;
          --color: white;
          --fill: transparent;
          --align: start;
          --splash: #FFFD;
        }
      }
    }
  }
}

body.loading {
  overflow-y: hidden;
}
body.noscroll {
  overflow-y: hidden;
}

floox-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
floox-panel {
  display: none;
  @media screen and (max-width: 1080px) {
    & {
      display: flex;
    }
  }
}

#logsign {
  @media screen and (max-width: 1080px) {
    & {
      display: none;
    }
  }
}


/*
Here we describe component css for the buttons
*/
.primary-button {
  --fill: #5187B7;
  --alt: #A1D7FF;
  font-weight: normal;
}
.secondary-button {
  --fill: #FF41A3;
  --alt: #FF91EF
}
.accent-button {
  --fill: #FcFcFc;
  --alt: white;
}
.tert-button {
  --fill: #164751;
  --alt: #468791
}
