@font-face {
  font-family: 'comforta';
  src: url("src/fonts/Comfortaa.ttf");
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
#spinner {
  max-width: 320px;
  margin-bottom: 30vh;
  opacity: 0;
  transition-duration: 0.25s;
}
#home-image {
  width: 720px;
  height: 720px;
  margin-top: -128px;
  margin-left: 64px;
  z-index: -1;
  position: relative;
}
#menu-logo {
  height: 40px;
  width: 40px;
  margin: 0;
  margin-left: 32px;
}
#title {
  font-family: comforta, sans-serif;
  font-size: 20px;
  align-self: center;
  margin: 0;
  margin-left: 16px;
  font-weight: bolder;
  color: #FFB50C;
  text-shadow: 0px 0px 4px #FFB50C22;
}
#menu-icon {
  margin-right: 40px;
  cursor: pointer;
  z-index: 3;
}
#menu {
  position: fixed;
  width: 400px;
  z-index: 2;
}
#menu > svg {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75));
}
#menu > div {
  position: absolute;
  top: 80px;
  right: 64px;
  z-index: 3;
}
#menu > div > p {
  text-align: center;
  transition-duration: 0.5s;
}
#menu > div > p > tkt-h {
  text-align: right !important;
  font-size: 22px;
  color: white;
  font-family: Calibri, sans-serif;
  cursor: pointer;
  font-weight: lighter;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  transition-duration: 0.5s;
}
#menu > div > p:hover {
  transition-duration: 0.75s;
}
#menu > div > p:hover > tkt-h {
  font-size: 24px !important;
}
#menu > div > p:active {
  transition-duration: 0.75s;
}
#menu > div > p:active > tkt-h {
  font-size: 20px !important;
}
.container-page {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-end;
}
.menu {
  min-height: 64px;
  width: 100vw;
  align-items: center;
  z-index: 3;
  top: 0;
}
.page {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.page > div:last-child {
  display: flex;
}
.page > .content {
  height: inherit;
  width: 100%;
  display: flex;
}
.page > .content > div:first-child {
  flex: 3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
}
.page > .content > div:last-child {
  flex: 2;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.container-load-page {
  background-color: white;
  transition-duration: 0.5s;
  opacity: 1;
  position: fixed;
  z-index: 5;
}
.tkt-h {
  font-size: 56px;
  font-family: calibri, sans-serif;
  color: #FFB50C;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.menu {
  display: flex;
  position: fixed;
  justify-content: space-between;
}
.menu > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.slogan {
  color: #FFB50C;
  font-family: Gadugi, sans-serif;
  font-weight: bolder;
  font-size: 56px;
  text-shadow: 0 2px 4px #00000033;
  margin: 32px;
  margin-top: 64px;
}
.text {
  margin: 32px;
  margin-top: 0px;
}
.text > p {
  margin-top: 12px;
  margin-bottom: 12px;
}
.tickets {
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
}
.tickets > tkt-ticket {
  width: 256px;
}
.tickets > tkt-ticket:hover {
  transition-duration: 0.25s;
  transform: scale(0.95);
}
.tickets > tkt-ticket:active {
  transition-duration: 0.15s;
  transform: scale(0.9);
}
.section {
  justify-self: flex-end;
  display: flex;
  position: absolute;
  height: 32px;
  bottom: 0;
  left: 48px;
}
.section > div {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  color: #FFa50C;
  bottom: 8px;
}
.section > div > p {
  margin: 0;
}
.section > hr {
  position: absolute;
  bottom: -2px;
  width: available;
  width: -moz-available;
  left: 0;
  margin: 0;
  border: none;
  height: 6px;
  width: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFa50C;
  margin-left: 16px;
  margin-right: 16px;
}
.feature {
  position: absolute;
  margin-top: 40%;
}
.feature > tkt-h {
  font-size: 40px;
  color: #FFB50C;
  font-family: Gadugi, sans-serif;
  font-weight: bolder;
  margin-bottom: 16px;
  text-shadow: 0 2px 4px #00000033;
}
.feature > tkt-p {
  position: relative;
  text-shadow: 0 2px 4px #FFFFFF88;
}
* {
  font-family: calibri, sans-serif;
}
/*# sourceMappingURL=style.css.map */