
#signup > floox-button {
  --fill: #FF41A3;
  --color: white !important;
}
.signup {
  > div {
    width: 100%;
  }
}
.controls {

  > a > floox-button:last-child {
    --color: #5187B7;
    --fill: transparent;
  }
}
