a {
  text-decoration: none;
  color: inherit;
}
.signup {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  min-width: 320px;
  max-width: 420px;
  width: 80%;

  > * { width: 100%; }
  > p:first-child {
    font-size: 22pt;
    color: #164751;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;

    > strong {
      color: #7EC6FF;
      font-weight: bolder;
    }
  }
  > p {
    font-family: "Segoe UI", sans-serif;
    color: #164751;
    font-size: 11pt;
    font-weight: lighter;
    margin: 0;

    > strong {
      color: #7EC6FF;
      font-weight: bolder;
    }
  }
  > floox-input {
    --radius: 8px;
    --color: #0001;
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;

    --fill: #5187B7;
    --color: white;
    > floox-button {
      min-width: 80px;
      > paper-spinner {
        --paper-spinner-layer-1-color: white;
        --paper-spinner-layer-2-color: white;
        --paper-spinner-layer-3-color: white;
        --paper-spinner-layer-4-color: white;
        --paper-spinner-stroke-width: 3px;

        width: 20px;
        height: 20px;

        display: none;
      }
    }
    > paper-checkbox {
      --paper-checkbox-checked-color: #5187B7;
      --paper-checkbox-label-color: #7EC6FF;
      --paper-checkbox-unchecked-color: #5187B7;
      --paper-checkbox-border-width: 3px;
      font-family: Calibri, sans-serif;
      font-weight: lighter;
      flex-flow: row-reverse;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  > *:last-child {
    display: flex;
    justify-content: center;

    color: #800;
    font-weight: lighter;
    margin: 0;
    min-height: 20px;
    font-size: 11pt;
    line-height: 27px;
  }
}
